.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  font-family: NotoSansRegular, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NotoSansRegular, sans-serif;
}
