@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.app{
  display: block;
 /*  margin-top: 6rem; */
}
* {
  font-family: 'Itim', cursive;
}
.homepage{
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NotoSansRegular, sans-serif;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: rgb(15,6,23);
}